<link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>

<header>About Us</header>

<div>
	<p class="about_us1">We are a small treasure tucked away in the hills od Pennsylvania. Maybe you've had the chance to stop in and try our pizza, probably not though, sorry.</p> 
	<p class="about_us2">We take pride in the pizza that we make, with the best staff and the freshest ingredients you'll find in town our pizza is sure to satisfy.</p>
</div>


  
</footer>