
	<link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>

	<h1 class="home_welcome">Welcome to Rick's Doughboys</h1>
<div class="homepage">
	<img src="http://s3-media4.fl.yelpcdn.com/bphoto/iXt9JCjLIk7liSXF5DqyPg/o.jpg" class="pizza_pic">
	<p>Real good pizza</p>
	<p>Real good people</p>
	<p>Real good place</p>
</div>	



	

	<%= link_to "Our Pizza", pizzas_path, class: "btn btn-default" %>

	